.formContainer {
    background-color: aliceblue;
    padding: 14px;
    border: 1px solid lightgrey;
    border-radius: 8px;
    margin-bottom: 30px;
}

.error {
    color: red;
    margin-left: 30px;
}

#chart_div {
    width: 100%;
    height: 100%;
}